.duble-range{
  width: 280px;
  height: 50px;
  margin: 20 auto;
  position: relative;
  padding: 0;
}

.duble-range__input{
  -webkit-appearance: none;
  background-color: rgb(174, 175, 85);
  height: 5px;
  width: 100%;
  display: block;
  pointer-events: none;
  margin: 0;
}

.duble-range__input::-webkit-slider-thumb{
  pointer-events: auto;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(174, 175, 85);
}

.duble-range__i2{
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0,.0);
}


.info__right,.info__left{
  position: absolute;
  left: 0;
  top:20px;
  background-color: rgb(174, 175, 85);
  border-radius: 3px;
  padding: 5px;
  color: rgb(255, 255, 255);
}
