* {
  box-sizing: border-box;
}
.cart__container {
  display: flex;
  gap: 3rem;
  padding: 0 3rem;
}
.cart-products__content {
  width: 80%;
  background-color: antiquewhite;
}
.cart-total__content {
  width: 25%;
  background-color: antiquewhite;
}
.cart-products__item--container {
  display: flex;
}
.cart-products__item--content {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.cart-products__item--img {
  height: 8rem;
  width: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cart-products__item--description-second {
  display: flex;
  justify-content: space-between;
}
.amount-change__content {
  display: flex;
}
.add-value__circle {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid black;
}
.remove-value__circle {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid black;
}
.line1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 40%;
}
.line3 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 40%;
}
.cart-products__item--fullname {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: 0 2rem;
}
.cart-products__item--description,
.cart-products__item--title {
  margin: 0;
}
.cart-products__head {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.cart-products__head--title {
  margin: 0;
}
.cart-products__head--controll {
  display: flex;
}
.controll__limit {
  display: flex;
}
.controll__limit--text {
  margin: 0;
}
.controll__page-numbers {
  display: flex;
}
.controll__page-numbers--text{
  margin: 0;
}
.promo__input--epm,
.promo__input--rs,
.promo__input--rs-add {
  display: none;
}

.promo__input--epm.active,
.promo__input--rs.active,
.promo__input--rs-add.active {
  display: block;
}